@using Treinamento.Presentation.WebMVC.Models
@{
    ViewBag.Title = "Novo";
}

<h2>Novo Pedido</h2>
@model PedidosModel

@using (Html.BeginForm("Criar", "Pedidos", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Numero, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Numero, String.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Descricao, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Descricao, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Descricao,String.Empty, new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn" value="Criar" />
        <a href="/Pedidos/Index" class="btn btn-default">Cancelar</a>
    </div>
}